*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Source Serif Pro';
    font-size: 62.5%;
}

body{
    background-color: #F9F0E8;
    font-size: 1.6rem;
    color: #A54328;
}

main{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    max-width: 32rem;
    margin-inline: auto;
    padding: 5rem 3.2rem;

    box-sizing: content-box;
}

main img{
    margin-block: 3.2rem;
    width: 100%;
}

h1, h2{
    font-size: 2.8rem;
    line-height: 3.6rem;
}

h2{
    padding-bottom: 2.4rem;
}

ul, ol{
    padding-left: 2.4rem;
    margin-bottom: 2rem;
}


p, strong, li{
    font-size: 1.4rem;
    line-height: 1.8rem;
}

button{
    font-family: 'Source Serif 4';
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 500;
    
    background-color: #A54328;
    color: white;
    
    border: none;
    border-radius: .6rem;

    padding: .8rem 1.2rem;
}

@media (min-width: 770px){
    main{
        flex-direction: row;
        max-width: fit-content;
        gap: 19rem;
    }

    .recipe{
        max-width: 43.5rem;
    }
    
    .ingredients{
        max-width: 52.5rem;
    }
    
    h1, h2{
        font-size: 4rem;
        line-height: 5rem;
    }

    p, strong, li{
        font-size: 2rem;
        line-height: 2.5rem;
    }

    button{
        font-size: 1.4rem;
        line-height: 2.4rem;
        
        padding: 1rem 2rem;
    }
}
